on boot
    # update cpusets feature nodes for rk3399 tablet
    write /dev/cpuset/foreground/cpus 0-5
    write /dev/cpuset/foreground/boost/cpus 0-5
    write /dev/cpuset/background/cpus 0
    write /dev/cpuset/system-background/cpus 0-3
    write /dev/cpuset/top-app/cpus 0-5

on property:sys.boot_completed=1
    chown system system /sys/kernel/debug/usb@fe800000/rk_usb_force_mode
    chmod 0664 /sys/kernel/debug/usb@fe800000/rk_usb_force_mode

service media /system/bin/mediaserver
    class main
    user system
    group audio camera inet net_bt net_bt_admin net_bw_acct drmrpc mediadrm sdcard_rw media_rw system
    ioprio rt 4
