on post-fs
    insmod /system/lib/modules/rk_ovr.ko

on property:sys.start_rkvrd=1
    start rkvrd

service media /system/bin/mediaserver
    class main
    user media
    group audio camera inet net_bt net_bt_admin net_bw_acct drmrpc mediadrm
    ioprio rt 4

service rkvrd /system/bin/rkvrd
    class main
    disabled
