on init

    chown root system /sys/devices/platform/dmc/devfreq/dmc/min_freq
    chmod 0664 /sys/devices/platform/dmc/devfreq/dmc/min_freq
    chown root system /sys/devices/platform/dmc/devfreq/dmc/max_freq
    chmod 0664 /sys/devices/platform/dmc/devfreq/dmc/max_freq
    chown root system /sys/devices/platform/dmc/devfreq/dmc/governor
    chmod 0664 /sys/devices/platform/dmc/devfreq/dmc/governor
    chown root root /sys/class/devfreq/dmc/system_status
    chmod 0666 /sys/class/devfreq/dmc/system_status

    chown root system /sys/class/devfreq/ff9a0000.gpu/governor
    chmod 0664 /sys/class/devfreq/ff9a0000.gpu/governor
    chown root system /sys/class/devfreq/ff9a0000.gpu/min_freq
    chmod 0664 /sys/class/devfreq/ff9a0000.gpu/min_freq
    chown root system /sys/class/devfreq/ff9a0000.gpu/max_freq
    chmod 0664 /sys/class/devfreq/ff9a0000.gpu/max_freq
