on post-fs
    insmod /system/lib/modules/rk_ovr.ko

on boot

    # update cpusets feature nodes for rk3399 vr
    # reserve CPU 4-5 for the top-app(especially vr app rendering thread')
    # We shoud make vr app's render thread available in top-app cpuset
    write /dev/cpuset/foreground/cpus 0-3
    write /dev/cpuset/foreground/boost/cpus 0-3
    write /dev/cpuset/background/cpus 0
    write /dev/cpuset/system-background/cpus 0-3
    write /dev/cpuset/top-app/cpus 4-5
    write /dev/cpuset/top-app/cpu_exclusive 1

on property:sys.start_rkvrd=1
    start rkvrd

service media /system/bin/mediaserver
    class main
    user media
    group audio camera inet net_bt net_bt_admin net_bw_acct drmrpc mediadrm
    ioprio rt 4

service rkvrd /system/bin/rkvrd
    class main
    disabled
