on post-fs-data

    #CABC
    chown root system /sys/class/graphics/fb0/cabc
    chmod 0664 /sys/class/graphics/fb0/cabc

on init
    # Load persistent dm-verity state
    verity_load_state

on verity-logging
    exec u:r:slideshow:s0 -- /sbin/slideshow warning/verity_red_1 warning/verity_red_2

on boot

    # update cpusets feature nodes for rk3399 tablet
    write /dev/cpuset/foreground/cpus 0-5
    write /dev/cpuset/foreground/boost/cpus 0-5
    write /dev/cpuset/background/cpus 0
    write /dev/cpuset/system-background/cpus 0-3
    write /dev/cpuset/top-app/cpus 0-5
    ioprio rt 4
